---
interface Quote {
  quote?: string;
  imageURL?: string;
}
const res = await fetch('https://androiddiscord-api.vercel.app/api/all-quotes');
const data = (await res.json()) as Quote[];

let quote = data[Math.floor(Math.random() * data.length)];
---

<>
  <head>
    <link rel='preload' href='/andoid.png' as='image' />
    <link rel='preload' href='/andoid_blink.png' as='image' />
    <title>AndroidDiscord.com</title>
    <meta name='description' content='Androiddiscord.com' />
    <link rel='icons' href='/favicon.ico' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link
      rel='preconnect'
      href='https://fonts.gstatic.com'
      crossorigin='https://fonts.gstatic.com'
    />
    <link
      href='https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap'
      rel='stylesheet'
    />
  </head>

  <main
    class='container mx-auto flex flex-col items-center justify-center p-4 pb-0 h-[80vh]'
  >
    <div class='speech-bubble'>
      <h1 id='quote'>{quote?.quote}</h1>
      <div style={{ height: '100% ', width: '100%' }}>
        <a
          target='_blank'
          href={quote.imageURL}
          rel='noopener noreferrer'
          style={{
            display: 'flex',
            height: '100% ',
            width: '100%',
            justifyContent: 'center',
            alignItems: 'center',
          }}
        >
          <img
            id='image-face'
            src={quote.imageURL}
            alt='embed'
            style={quote.imageURL
              ? { height: '100%', display: 'block' }
              : { height: '0%', display: 'none' }}
          />
        </a>
      </div>
    </div>
    <img
      src='/andoid.png'
      alt='andoid'
      id='andoidface'
      width={728}
      height={410}
    />
  </main>
  <footer
    class='flex text-white underline font-bold absolute bottom-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10'
  >
    <a href='https://discord.gg/android'>JOIN OUR DISCORD</a>
    <!--     <a href='https://gitlab.com/Sillyvan/androiddiscordcom' class='ml-4'>
      <img src='/git.png' alt='git' width={20} height={20} />
    </a> -->
  </footer>
  <script define:vars={{ data }}>
    let face = document.getElementById('andoidface');

    const newQuote = () => {
      face.src = '/andoid_blink.png';
      let newQ = data[Math.floor(Math.random() * data.length)];

      document.getElementById('quote').innerText = newQ.quote;

      if (newQ.imageURL) {
        document.getElementById('image-face').src = newQ.imageURL;
        document.getElementById('image-face').style.display = 'block';
        document.getElementById('image-face').style.height = '100%';
      } else {
        document.getElementById('image-face').style.display = 'none';
        document.getElementById('image-face').style.height = '0%';
      }

      setTimeout(() => {
        face.src = '/andoid.png';
      }, 300);
    };

    face.onclick = newQuote;
  </script>
</>

<style>
  body {
    background-color: #073042;
    font-family: 'Comic Neue', cursive;
  }
  .speech-bubble {
    position: relative;
    background: #fff;
    border-radius: 0.4em;
    color: #000;
    width: auto;
    width: 95vw;
    max-width: 1200px;
    max-height: 50vh;
    padding: 60px 20px;
    margin: 1em 0;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    text-shadow: 0 -0.05em 0.1em rgb(0 0 0 / 30%);
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
  }

  .speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-top-color: #fff;
    border-bottom: 0;
    margin-left: -25px;
    margin-bottom: -25px;
  }
</style>
